@import "../../App.css";

.Map {
    flex-grow: 2;
}

.Form{
    float: left;
}

.Modal {
    max-height: 80vh;
    max-width: 80vw; 
    padding: 1rem;
    display: flex;
    justify-content:center;
    align-items: center; 
}

#newIssueButton {
    position: absolute;
    padding: 20px;
    left: -250px;
    top: 75vh;
    margin: 30px;
}

#doneReportingButton {
    position: absolute;
    padding: 20px;
    left: -250px;
    top: 75vh;
    margin: 30px;
}