.root {
  display: flex;
}

hr.dividerColor {
  border-top: 1px solid green;
}

.overlayHolder {
  position: relative;
  background-color: rgba(0,0,0,0);
  width: 0;
}

#imgDiv {
  background-color: #89D94A;
}

#thumbsUp {
  float: right;
  display: flex;
  align-items:'right';
  justify-content: flex-end;
}